---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import ProseWrapper from "@components/ProseWrapper.astro";

import ArtifactsList from "@components/ArtifactsList.astro";
import CVList from "@components/CVList.astro";

import * as cv from "@data/cv";

import "@css/shared.css";

const pageTitle = "Matthew Trentacoste";
---

<Layout title={pageTitle}>
  <Header title={pageTitle} slot="header">
    <p>
      [my-intials]@matttrent.com<br />
      +1.415.326.3226
    </p>
  </Header>

  <ProseWrapper>
    <section class="print-hide">
      <p>
        <strong>Need a PDF?</strong> Just print me and save. I format correctly.
      </p>
    </section>

    <h2>Professional experience</h2>
    <CVList items={cv.professionalExperience} />

    <h2>Education</h2>
    <CVList items={cv.education} />

    <h2 class="break-before">Journal articles & papers</h2>
    <ArtifactsList items={cv.journalArticles} />

    <h2>Patents</h2>
    <ArtifactsList items={cv.patents} />

    <h2>Talks & miscellany</h2>
    <ArtifactsList items={cv.talksAndMisc} />
  </ProseWrapper>
</Layout>

<style is:global>
  /* custom size some spacing and fonts to better display cv */
  @media screen {
    article > *,
    article > section > * {
      grid-column: text-start / 12;
    }
    .experience,
    .exp {
      color: #777;
    }
  }

  @media screen and (max-width: 760px) {
    article > *,
    article > section > * {
      grid-column: page-start / page-end;
    }
  }

  header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  p {
    font-size: 1.4rem;
    line-height: 2rem;
    /* margin-bottom: 1.4rem; */
    padding-right: 0;
    vertical-align: baseline;
  }

  /* customizations for printing */
  @media print {
    /* smaller font */
    html {
      font-size: 10px;
    }

    /* get rid of space above first title */
    h1 {
      margin-top: 2rem;
    }

    /* reduce vertical spacing */
    article,
    section {
      padding: 0rem 0rem;
    }

    article h2 {
      margin-top: 1.2rem !important;
    }

    /* reduce width of dl-horizontal dd elements */
    .dl-horizontal dt {
      width: 4rem; /* this should be moved to ArtifactsList */
      padding-bottom: 0px;
    }
    .dl-horizontal dd {
      margin-left: 5.333rem; /* this should be moved to ArtifactsList */
      padding-bottom: 0px;
    }

    /* pagebreak before section */
    .break-before {
      page-break-before: always;
      padding-top: 3rem;
    }

    /* print-specific hide */
    .print-hide,
    nav {
      display: none !important;
    }
  }
</style>
