---
import GoogleAnalytics from "../components/GoogleAnalytics.astro";

import ArtifactsList from "../components/ArtifactsList.astro";
import CVList from "../components/CVList.astro";

import * as cv from "../data/cv";

// importing all styles here to ensure they're loaded in correct order
import "../css/tufte.css";
import "../css/latex.css";
import "../css/custom.css";
import "../css/cv.css";

const pageTitle = "Matthew Trentacoste";
---

<!doctype html>
<html lang="en">
  <head>
    <GoogleAnalytics />

    <meta charset="utf-8" />
    <title>{pageTitle}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
  </head>

  <body>
    <slot name="header" />
    <main>
      <article>
        <h1>{pageTitle}</h1><p>
          [my-intials]@matttrent.com<br />
          +1.415.326.3226
        </p>

        <section class="print-hide">
          <p>
            <strong>Need a PDF?</strong> Just print me and save. I format correctly.
          </p>
        </section>

        <section>
          <h2>Professional experience</h2>
          <CVList items={cv.professionalExperience} />

          <h2>Education</h2>
          <CVList items={cv.education} />

          <h2>Journal articles & papers</h2>
          <ArtifactsList items={cv.journalArticles} />

          <h2>Patents</h2>
          <ArtifactsList items={cv.patents} />

          <h2>Talks & miscellany</h2>
          <ArtifactsList items={cv.talksAndMisc} />
        </section>

        <section>
          <h2>References</h2>
          <p>Ask and ye shall receive.</p>
        </section>
      </article>
    </main>
  </body>
</html>

