---
import Layout from "../layouts/Layout.astro";

import ArtifactsList from "../components/ArtifactsList.astro";
import CVList from "../components/CVList.astro";

import { professionalExperience, education, journalArticles, patents, talksAndMisc } from "../data/cv";

// importing all styles here to ensure they're loaded in correct order
import "../css/tufte.css";
import "../css/latex.css";
import "../css/custom.css";
import "../css/cv.css";

const pageTitle = "Matthew Trentacoste";


---

<Layout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>
    [my-intials]@matttrent.com<br />
    +1.415.326.3226
  </p>

  <section class="print-hide">
    <p>
      <strong>Need a PDF?</strong> Just print me and save. I format correctly.
    </p>
  </section>

  <section>
    <h2>Professional experience</h2>
    <CVList items={professionalExperience} />

    <h2>Education</h2>
    <CVList items={education} />

    <h2>Journal articles & papers</h2>
    <ArtifactsList items={journalArticles} />

    <h2>Patents</h2>
    <ArtifactsList items={patents} />

    <h2>Talks & miscellany</h2>
    <ArtifactsList items={talksAndMisc} />
  </section>

  <section>
    <h2>References</h2>
    <p>Ask and ye shall receive.</p>
  </section>
</Layout>
