---
interface Props {
  name?: string;
  num?: boolean;
  inflow?: boolean;
}

const { name: providedName, num = true, inflow = true } = Astro.props;

const name =
  providedName ??
  Array.from(crypto.getRandomValues(new Uint8Array(8)))
    .map((b) => b.toString(16).padStart(2, "0"))
    .join("")
    .slice(0, 10);

const fullname = `${num ? "sn" : "mn"}-${name}`;

const labelClass = `margin-toggle${num ? " sidenote-number" : ""}`;

const spanClass = `${num ? "sidenote" : "marginnote"}${inflow ? "" : " outside-flow"}`;
---

<span class="sidenote-wrapper">{
  num ? (<label for={fullname} class={labelClass} />) 
  : (<label for={fullname} class={labelClass}>&#8853;</label>)
}
<input type="checkbox" id={fullname} class="margin-toggle" />
<span class={spanClass}>
  <slot />
</span>
</span>

<style is:global>
  body {
    counter-reset: sidenote-counter;
  }

  .sidenote-wrapper {
  }

  .sidenote,
  .marginnote {
    float: right;
    clear: right;
    margin-right: -57.3%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
  }

  .outside-flow {
    overflow: visible;
    height: 1rem;
  }

  /* Repeated text styling for MDX files which generate notes with <p> tags. */
  .sidenote > p,
  .marginnote > p {
    font-size: 1.1rem;
    line-height: 1.3 !important;
  }

  .marginnote > code,
  .sidenote > code {
    font-size: 1rem;
  }

  .sidenote-number {
    counter-increment: sidenote-counter;
  }

  .sidenote-number:after,
  .sidenote:before {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
  }

  .sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
  }

  .sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
  }

  input.margin-toggle {
    display: none;
  }

  label.sidenote-number {
    display: inline-block;
    /* should be less than or equal to paragraph line-height */
    max-height: 2rem;
  }

  /* TODO: figure out how to get consistent sizing both in text and in figures */
  label.margin-toggle:not(.sidenote-number) {
    display: none;
  }

  @media (max-width: 760px) {
    label.margin-toggle:not(.sidenote-number) {
      display: inline;
    }
    .sidenote,
    .marginnote {
      display: none;
    }
    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
      display: block;
      float: left;
      left: 1rem;
      clear: both;
      width: 95%;
      margin: 1rem 2.5%;
      vertical-align: baseline;
      position: relative;
    }

    label {
      cursor: pointer;
    }
  }
</style>
